//
//  Debug.xcconfig
//  Gemma Barlow
//
//  Created by Gemma Barlow on 8/20/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Gemma Barlow/Pods-Gemma Barlow.debug.xcconfig"

FABRIC_KEY=

