//
//  Release.xcconfig
//  Gemma Barlow
//
//  Created by Gemma Barlow on 8/20/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Gemma Barlow/Pods-Gemma Barlow.release.xcconfig"

FABRIC_KEY=75885e880628d42f29d51dfeb745330d67bbe3e9
